{
  {% if action == 'preparing' %}
  "text": "{{ service_formatted }} build has been triggered by *@{{ github_actor }}* :tractor:, will be deployed to *{{ environment_name }}*",
  {% elif action == 'start' %}
  "text": "Deployment to {{ environment_name }} has been triggered by @{{ github_actor }} :hourglass:",
  {% elif action == 'success' %}
  "text": "Deployment to {{ environment_name }} has been completed :white_check_mark:",
  {% elif action == 'failure' %}
  "text": "Deployment to {{ environment_name }} has failed :x:",
  {% else %}
  "text": "Started action: {{ action }}",
  {% endif %}
  "blocks": [
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        {% if action == 'preparing' %}
        "text": "{{ service_formatted }} build has been triggered by *@{{ github_actor }}* :tractor:, will be deployed to *{{ environment_name }}*"
        {% elif action == 'start' %}
        "text": "Deployment to *{{ environment_name }}* has been triggered by *@{{ github_actor }}*"
        {% elif action == 'success' %}
        "text": "Deployment to *{{ environment_name }}* has been completed :white_check_mark:"
        {% elif action == 'failure' %}
        "text": "Deployment to *{{ environment_name }}* has failed :x:"
        {% else %}
        "text": "Started action: {{ action }}"
        {% endif %}
      }
    },
    {
      "type": "context",
      "elements": [
        {
          "type": "mrkdwn",
          "text": ":desktop_computer: Environment:"
        },
        {
          "type": "mrkdwn",
          "text": "<{{ environment_url }}> ({{ environment_name }})"
        }
      ]
    },
    {
      "type": "context",
      "elements": [
        {
          "type": "mrkdwn",
          "text": ":1234: Version:"
        },
        {
          "type": "mrkdwn",
          "text": "{{ service }} - <{{ github_release_url }}|{{ release_tag }}>"
        }
      ]
    },
    {
      "type": "context",
      "elements": [
        {
          "type": "mrkdwn",
          "text": ":hammer_and_wrench: Triggered by:"
        },
        {
          "type": "mrkdwn",
          "text": "@{{ github_actor }}"
        }
      ]
    },
    {
      "type": "actions",
      "elements": [
        {
          "type": "button",
          "text": {
            "type": "plain_text",
            "text": "GitHub Actions Run",
            "emoji": true
          },
          "url": "{{ github_run_url }}"
        }{% if action != 'preparing' %},
        {
          "type": "button",
          "text": {
            "type": "plain_text",
            "text": "ECS Deployment Info",
            "emoji": true
          },
          "url": "{{ ecs_url }}"
        },
        {
          "type": "button",
          "text": {
            "type": "plain_text",
            "text": "DataDog logs",
            "emoji": true
          },
          "url": "{{ datadog_url }}"
        }
        {% endif %}
      ]
    },
    {% if action == 'start' or action == 'preparing' %}
    {
      "type": "context",
      "elements": [
        {
          "type": "plain_text",
          "text": ":hourglass: In progress...",
          "emoji": true
        }
      ]
    }
    {% elif action == 'success' %}
    {
      "type": "context",
      "elements": [
        {
          "type": "plain_text",
          "text": ":white_check_mark: Deployment completed!",
          "emoji": true
        }
      ]
    }
    {% elif action == 'failure' %}
    {
      "type": "context",
      "elements": [
        {
          "type": "plain_text",
          "text": ":x: Deployment failed!",
          "emoji": true
        }
      ]
    }
    {% endif %}
  ]
}
